// Importando el reseteo general de la pagina
@import 
        'root/variables','root/mixin','root/root';

@import 'generales/nav','generales/footer','generales/carrito','generales/modalProducto','generales/cards','generales/loader';

@import 'styles/index','styles/productos';


.section{
        width: 100%;
        height: 100vh;
}

.toastify{
        box-shadow: none;
}